---
---

{% include header.html %}
{% include nav-bar.html %}
<section class="home-hero-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 tageline">
        <h1>Right Investments<strong>.</strong></h1>
        <h1>Right Rewards<strong>.</strong></h1>
        <p>
          Adding value to companies through strategic, operational, and financial guidance.
        </p>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="play-button">
            <img src="/images/play-button-black.png" />
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



{% include footer.html %}
