
<footer class="footer-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="footer-logo">
          <div class="footer-logo">
            <img src="/images/footer-logo.png" />
          </div>
          <div class="footer-menu">
            <ul>
              <li><a href="index.html">home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="investment.html">Investment</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-adress">

          <div>267 Banbury Road Summertown Oxford.</div>
          <div>42 Upper Berkeley Street London.</div>
          <div><a href="tel:+91 555-555-5555">+91 1234567890</a></div>
          <div><a href="mailto:hello@massimpresson.com">hello@massimpresson.com</a></div>
        </div>

      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-sm-8 copy-right col-sx-12">
        <p>© 2017 Mass Impressions & Tranmautritam. Make the right impression | | Privacy Policy.</p>
      </div>
      <div class="col-sm-4 footer-social-icon">
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
















</body>
</html>
